{% extends 'base.html' %}

{% block content %}

<h2>{{ book.title }}</h2>

{% if book.cover %}
<img src="{{ book.cover.url }}" width="200">
{% endif %}

<p><strong>Author:</strong> {{ book.author.name }}</p>
<p><strong>Category:</strong> {{ book.category.name }}</p>
<p><strong>Year:</strong> {{ book.publication_year }}</p>
<p><strong>Pages:</strong> {{ book.pages }}</p>
<p><strong>Language:</strong> {{ book.language }}</p>
<p><strong>Description:</strong> {{ book.description }}</p>

<p><strong>Available Copies:</strong> {{ book.available_copies }} / {{ book.total_copies }}</p>

<hr>

{% if user.is_authenticated %}
{% if book.available_copies > 0 %}
<a href="{% url 'borrow_book' book.id %}" class="btn btn-success">
    Borrow Book
</a>
{% else %}
<p class="text-danger">Fully Borrowed</p>
{% endif %}
{% else %}
<p class="text-warning">Login to borrow this book.</p>
{% endif %}

{% endblock %}
